<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewPart') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form [formGroup]="service.form" id="part" (ngSubmit)="service.submitForm()" validateOnSubmit>
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Part' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="part-name">
                  {{ '::name' | abpLocalization }} *
                </label>

                <input
                  id="part-name"
                  formControlName="name"
                  class="form-control"
                  minlength="3"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-description">
                  {{ '::description' | abpLocalization }}
                </label>

                <textarea id="part-description" formControlName="description" class="form-control">
                </textarea>
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-part-number">
                  {{ '::partNumber' | abpLocalization }} *
                </label>

                <input id="part-part-number" formControlName="partNumber" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-cage-code">
                  {{ '::cageCode' | abpLocalization }} *
                </label>

                <input id="part-cage-code" formControlName="cageCode" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-to-number">
                  {{ '::toNumber' | abpLocalization }} *
                </label>

                <input id="part-to-number" formControlName="toNumber" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-distribution-statement">
                  {{ '::distributionStatement' | abpLocalization }}
                </label>

                <input
                  id="part-distribution-statement"
                  formControlName="distributionStatement"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-smr">
                  {{ '::smr' | abpLocalization }}
                </label>

                <input id="part-smr" formControlName="smr" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-niin">
                  {{ '::niin' | abpLocalization }}
                </label>

                <input id="part-niin" formControlName="niin" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-fsc">
                  {{ '::fsc' | abpLocalization }}
                </label>

                <input id="part-fsc" formControlName="fsc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-wuc">
                  {{ '::wuc' | abpLocalization }}
                </label>

                <input id="part-wuc" formControlName="wuc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-uoc">
                  {{ '::uoc' | abpLocalization }}
                </label>

                <input id="part-uoc" formControlName="uoc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-unique-id">
                  {{ '::uniqueId' | abpLocalization }}
                </label>

                <input id="part-unique-id" formControlName="uniqueId" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-nsn"> {{ '::nsn' | abpLocalization }} * </label>

                <input id="part-nsn" formControlName="nsn" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-image-url">
                  {{ '::imageUrl' | abpLocalization }}
                </label>

                <input id="part-image-url" formControlName="imageUrl" class="form-control" />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="part">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
