<app-filtered-view [title]="'::Parts' | abpLocalization" [count]="service.data.totalCount">
  <app-advanced-filters
    sidebar
    [list]="list"
    [filters]="service.filters"
    [filterConfig]="[
      { label: '::name', key: 'name' },
      { label: '::description', key: 'description' },
      { label: '::partNumber', key: 'partNumber' },
      { label: '::cageCode', key: 'cageCode' },
      { label: '::toNumber', key: 'toNumber' },
      { label: '::distributionStatement', key: 'distributionStatement' },
      { label: '::smr', key: 'smr' },
      { label: '::niin', key: 'niin' },
      { label: '::fsc', key: 'fsc' },
      { label: '::wuc', key: 'wuc' },
      { label: '::uoc', key: 'uoc' },
      { label: '::uniqueId', key: 'uniqueId' },
      { label: '::nsn', key: 'nsn' }
    ]"
    (filtersChanged)="onFiltersChanged($event)"
    (refresh)="list.get()"
    (clear)="clearFilters()"
  />
  <abp-page-toolbar-container class="col" header>
    <div class="text-lg-end pt-2 d-flex justify-content-end gap-2">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        [disabled]="service.isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'AbpPoc.Parts.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewPart' | abpLocalization }}
      </button>

      <div class="btn-group ml-2">
        <button class="btn btn-primary btn-sm h-full" type="button" (click)="onViewChange('grid')">
          <i class="fa fa-table" aria-hidden="true"></i>
        </button>
        <button
          class="btn btn-primary btn-sm py-0 px-2"
          type="button"
          (click)="onViewChange('card')"
        >
          <i class="fa fa-th" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </abp-page-toolbar-container>

  <div main-content class="d-flex flex-row gap-2 min-vh-100">
    <ng-container *ngIf="selectedView === 'grid'">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          @if (service.selectedCount() > 0) {
          <h4 class="card-title">
            {{
              '::AllItemsAreSelected'
                | abpLocalization
                  : (service.allSelected() ? service.data.totalCount : service.selectedCount())
            }}
          </h4>

          <div>
            <button class="btn btn-outline-primary btn-sm" (click)="service.selectAll()">
              @if (service.allSelected()) {
              {{ '::ClearSelection' | abpLocalization }}
              } @else {
              {{ '::SelectAllItems' | abpLocalization : service.data.totalCount }}
              }
            </button>

            <button class="btn btn-danger btn-sm mx-1" (click)="service.bulkDelete()">
              <i class="fa fa-trash me-1" aria-hidden="true"></i>
              {{ 'AbpUi::Delete' | abpLocalization : service.selectedCount() }}
            </button>
          </div>
          }
        </div>
        <div class="card-body">
          <ngx-datatable
            default
            [rows]="service.data.items"
            [count]="service.data.totalCount"
            [list]="list"
            [selected]="service.selected()"
            [selectionType]="service.selectionType.checkbox"
            (select)="service.onSelect($event)"
          >
            <ngx-datatable-column
              [width]="40"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
            >
              <ng-template
                ngx-datatable-header-template
                let-value="value"
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn"
              >
                @if (service.data.items.length > 0) {
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)"
                />
                }
              </ng-template>
              <ng-template
                ngx-datatable-cell-template
                let-value="value"
                let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                />
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              [name]="'AbpUi::Actions' | abpLocalization"
              [maxWidth]="150"
              [width]="150"
              [sortable]="false"
            >
              <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
                <div ngbDropdown container="body" class="d-inline-block">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle
                  >
                    <i class="fa fa-cog me-1" aria-hidden="true"></i>
                    {{ 'AbpUi::Actions' | abpLocalization }}
                  </button>

                  <div ngbDropdownMenu>
                    <button
                      ngbDropdownItem
                      *abpPermission="'AbpPoc.Parts.Edit'"
                      (click)="update(row)"
                    >
                      {{ 'AbpUi::Edit' | abpLocalization }}
                    </button>

                    <button
                      ngbDropdownItem
                      *abpPermission="'AbpPoc.Parts.Delete'"
                      (click)="deletePart(row)"
                    >
                      {{ 'AbpUi::Delete' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::name' | abpLocalization }}" prop="name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::description' | abpLocalization }}" prop="description">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.description }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::partNumber' | abpLocalization }}" prop="partNumber">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.partNumber }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::cageCode' | abpLocalization }}" prop="cageCode">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.cageCode }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::toNumber' | abpLocalization }}" prop="toNumber">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.toNumber }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{ '::distributionStatement' | abpLocalization }}"
              prop="distributionStatement"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.distributionStatement }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::smr' | abpLocalization }}" prop="smr">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.smr }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::niin' | abpLocalization }}" prop="niin">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.niin }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::fsc' | abpLocalization }}" prop="fsc">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.fsc }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::wuc' | abpLocalization }}" prop="wuc">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.wuc }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::uoc' | abpLocalization }}" prop="uoc">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.uoc }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::unique' | abpLocalization }}" prop="uniqueId">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.uniqueId }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::nsn' | abpLocalization }}" prop="nsn">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.nsn }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ '::imageUrl' | abpLocalization }}" prop="imageUrl">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.imageUrl }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedView === 'card'">
      <app-part-card-view [parts]="service.data.items" class="w-100" />
    </ng-container>
  </div>
</app-filtered-view>

@defer (when serviceDetail.isVisible) { @if (serviceDetail.isVisible) {
<app-part-detail-modal class="col-6" />
} }
