<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewPartTest') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="part-test"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::PartTest' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="part-test-part-number">
                  {{ '::partNumber' | abpLocalization }} *
                </label>

                <input
                  id="part-test-part-number"
                  formControlName="partNumber"
                  class="form-control"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-name">
                  {{ '::name' | abpLocalization }} *
                </label>

                <input id="part-test-name" formControlName="name" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-cage-code">
                  {{ '::cageCode' | abpLocalization }} *
                </label>

                <input id="part-test-cage-code" formControlName="cageCode" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-distribution-statement">
                  {{ '::distributionStatement' | abpLocalization }} *
                </label>

                <input
                  id="part-test-distribution-statement"
                  formControlName="distributionStatement"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-to-number">
                  {{ '::toNumber' | abpLocalization }}
                </label>

                <input id="part-test-to-number" formControlName="toNumber" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-smr">
                  {{ '::smr' | abpLocalization }}
                </label>

                <input id="part-test-smr" formControlName="smr" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-niin">
                  {{ '::niin' | abpLocalization }}
                </label>

                <input id="part-test-niin" formControlName="niin" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-fsc">
                  {{ '::fsc' | abpLocalization }}
                </label>

                <input id="part-test-fsc" formControlName="fsc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-wuc">
                  {{ '::wuc' | abpLocalization }}
                </label>

                <input id="part-test-wuc" formControlName="wuc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-uoc">
                  {{ '::uoc' | abpLocalization }}
                </label>

                <input id="part-test-uoc" formControlName="uoc" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-unique-id">
                  {{ '::uniqueId' | abpLocalization }}
                </label>

                <input id="part-test-unique-id" formControlName="uniqueId" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-nsn">
                  {{ '::nsn' | abpLocalization }}
                </label>

                <input id="part-test-nsn" formControlName="nsn" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label" for="part-test-image-url">
                  {{ '::imageUrl' | abpLocalization }}
                </label>

                <input id="part-test-image-url" formControlName="imageUrl" class="form-control" />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="part-test">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
