@use "./dark.scss" as *;
:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');

  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }
  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }
  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }
  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/logo-dark.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}


:root {
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }
  ul {
    padding: 0%;
    margin: 0%;
  }
}

abp-advanced-entity-filters div.d-flex > div.ms-3{
  margin-left: 0 !important;
}

abp-advanced-entity-filters-toggle {
  margin-left: 0 !important;
  display: none !important;
}

#advanced-content-filters {
  display: block !important;
}

.btn-primary {
  -bs-btn-color: #fff;
  --bs-btn-bg: var(--kendo-color-primary);
  --bs-btn-border-color: var(--kendo-color-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--kendo-color-primary);
  --bs-btn-hover-border-color: var(--kendo-color-primary);
  --bs-btn-focus-shadow-rgb: 83, 117, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--kendo-color-primary);
  --bs-btn-active-border-color: var(--kendo-color-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--kendo-color-primary);
  --bs-btn-disabled-border-color: var(--kendo-color-primary);
}

.modal-content {
  min-width: 800px !important;
  max-height: 80vh !important;
  margin: 0 auto !important;
}