.abp-card {
    height: 100%;
    width: 100%;
    min-width: 350px;
    max-height: 550px;
}

.abp-card-header {
    background-color: transparent;
    border-bottom: none;
}

.abp-card-body {
    height: auto;
    padding: 1rem 0;
}

.card-footer {
    padding-top: 1rem;
}

.card-footer > div {
    display: flex;
    justify-content: space-between;
}

.abp-card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.image-container {
    padding: 1rem;
}

.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-value {
    font-size: 1rem;
    color: #555;
}

.card-footer button {
    width: 50%;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .card-footer button:hover {
    background-color: #007bff;
    color: white;
  }
