.k-card {
    height: 100%;
    width: 100%;
    min-width: 350px;
    max-height: 550px;
}
.k-card-header {
    background-color: transparent;
    border-bottom: none;
}
.image-container {
    padding: 1rem
}
