<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewIpb') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form [formGroup]="service.form" id="ipb" (ngSubmit)="submit()" validateOnSubmit>
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::Ipb' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="ipb-figure-name">
                  {{ '::figureName' | abpLocalization }} *
                </label>

                <input
                  id="ipb-figure-name"
                  formControlName="figureName"
                  class="form-control"
                  maxlength="256"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="ipb-figure-number">
                  {{ '::figureNumber' | abpLocalization }} *
                </label>

                <input
                  id="ipb-figure-number"
                  formControlName="figureNumber"
                  class="form-control"
                  maxlength="32"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="ipb-to-number">
                  {{ '::toNumber' | abpLocalization }}
                </label>

                <input
                  id="ipb-to-number"
                  formControlName="toNumber"
                  class="form-control"
                  maxlength="512"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="ipb-indenture-level">
                  {{ '::indentureLevel' | abpLocalization }}
                </label>

                <input
                  id="ipb-indenture-level"
                  formControlName="indentureLevel"
                  class="form-control"
                  maxlength="8"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="ipb-source-id">
                  {{ 'Source Part' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="ipb-source-id"
                  formControlName="sourceId"
                  [getFn]="service.getPartLookup"
                ></abp-lookup-select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="ipb-related-id">
                  {{ 'Related Part' | abpLocalization }}
                </label>
                <abp-lookup-select
                  cid="ipb-related-id"
                  formControlName="relatedId"
                  [getFn]="service.getPartLookup"
                ></abp-lookup-select>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="ipb">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
