<div class="example-wrapper">
  <button kendoButton themeColor="primary" iconClass="fa fa-eye" title="View" (click)="open($event)"></button>
  <p *ngIf="dataSaved">Data has been saved</p>
  <kendo-window
    title="Please provide additional data"
    *ngIf="opened"
    (close)="close($event)"
    [minWidth]="250"
    [width]="450"
    themeColor="primary"
  >
    <form class="k-form">
      <fieldset>
        <legend>User Details</legend>

        <label class="k-form-field">
          <span>First Name</span>
          <kendo-textbox placeholder="Your Name"></kendo-textbox>
        </label>
        <label class="k-form-field">
          <span>Last Name</span>
          <kendo-textbox placeholder="Your Last Name"></kendo-textbox>
        </label>
      </fieldset>

      <div class="k-actions k-actions-end">
        <button kendoButton type="button" (click)="close()">Cancel</button>
        <button kendoButton themeColor="primary" type="button" (click)="submit($event)">
          Submit
        </button>
      </div>
    </form>
  </kendo-window>
</div>
