<div class="w-100 mt-4 row">
  <app-default-card
    *ngFor="let part of cardParts"
    [title]="part.title"
    [imageUrl]="part.imageUrl"
    [link]="part.link"
    [iconClassName]="part.iconClassName"
    [cardBody]="part.cardBody"
    [renderCustomBody]="part.renderCustomBody"
    [cardActionProps]="part.cardActionProps"
    [dataItem]="part.dataItem"
    [routerLink]="['/parts', part.dataItem.id]"
    class="col-4"
  ></app-default-card>
</div>

@defer (when partDetailService.isVisible) { @if (partDetailService.isVisible) {
<app-part-detail-modal />
} }
